<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>
    <application
        android:label="Env Picker"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.EnvPicker">
        <activity
            android:name="qu.astro.envswitch.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>